[submodule "raspberry-sharp-io"]
	path = raspberry-sharp-io
	url = https://github.com/zhen08/raspberry-sharp-io.git
[submodule "raspberry-sharp-system"]
	path = raspberry-sharp-system
	url = https://github.com/zhen08/raspberry-sharp-system.git
